@import url("https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap");

#ticket-container {
  height: 400px;
  min-width: 300px;
  padding: 20px;
  border-radius: 5px;
  background: #fffffb;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
#ticket-container h1 {
  font-family: "Sriracha", arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #ffc145;
}
#ticket-container .ticket-description {
  margin-bottom: 20px;
}
#ticket-container .ticket-subItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  margin: 0 auto;
}
#ticket-container .ticket-subItem div {
  text-align: center;
  border: solid 2px #ff6b6c;
  width: 40%;
  padding: 5px 0;
  border-radius: 5px;
}
#ticket-container button {
  width: 80%;
  height: 80px;
  font-size: 2rem;
  margin: 0 10% 30px 10%;
  color: #fffffb;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: linear-gradient(45deg, #ff6b6c, #ffc145, #ffc145, #ff6b6c);
  background-size: 300% 300%;
  outline: none;
  transition: all 200ms ease-in-out;
}
#ticket-container button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
  -webkit-animation: gradientBG 1.5s ease-in-out forwards;
  animation: gradientBG 1.5s ease-in-out forwards;
  cursor: pointer;
}
#ticket-container button:active {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}
#ticket-container footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5b5f97;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;
  padding: 0 20px;
  margin-left: -20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
}
#ticket-container footer div {
  display: flex;
}
#ticket-container footer div .fa-heart {
  color: #ff6b6c;
}
#ticket-container footer div .fa-heart-o {
  color: #ff6b6c;
}

.ticket-description {
  text-align: justify;
  text-justify: inter-word;
  height: 25%;
}

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
