<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tickets</title>
    <link rel="stylesheet" href="/css/cards.css" />
    <link rel="stylesheet" href="/css/tickets.css" />
    <link rel="stylesheet" href="/css/thirdPartyLibraries/font-awesome-4.7.0/css/font-awesome.min.css" />
  </head>

  <body>
    <main>
      <section class="cards-grid">
        <% for (var i = 0; i < 1; i++) { %>
        <article class="card">
          <div id="ticket-container">
            <h1>
              Maddie
            </h1>
            <div class="ticket-description">
              Maddie is a front end web developer in New York. She has worked in the field for 10 years now. Check out her projects in the links below. She is available for hire as well.
            </div>
            <button>Usar</button>
            <div class="ticket-subItem">
              <div>Comida</div>
              <div>10 dias</div>
            </div>
            <footer>
              <div>
                <p><i class='fa fa-heart-o'></i></p>
              </div>
              <div>
                <p>10/10/2019</p>
              </div>
            </footer>
          </div>
        </article>
        <% } %>
      </section>
    </main>
  </body>
</html>
