<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tickets</title>
    <link rel="stylesheet" href="/css/cards.css" />
    <link rel="stylesheet" href="/css/tickets.css" />
    <link
      rel="stylesheet"
      href="/css/thirdPartyLibraries/font-awesome-4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <main>
      <section class="cards-grid">
        <% for (let ticket of tickets) { %>
        <article class="card">
          <div id="ticket-container">
            <h1>
              <%= ticket.title %>
            </h1>
            <div class="ticket-description">
                <%= ticket.description.length > 256 ?  ticket.description.substring(0, 256).concat('...') : ticket.description %>
            </div>
            <button>Usar</button>
            <div class="ticket-subItem">
              <div><%= ticket.type %></div>
              <div>10 dias</div>
            </div>
            <footer>
              <div>
                <p><i class="fa fa-heart-o"></i></p>
              </div>
              <div>
                <p><%= ticket.createDate %></p>
              </div>
            </footer>
          </div>
        </article>
        <% } %>
      </section>
    </main>
  </body>
</html>
